.bg-container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  padding: 32px;
  border: 2px solid black;
  border-radius: 12px;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-text {
  align-self: flex-start;
}

.login-button {
  margin-top: 12px;
}

.signup-button {
  margin-top: 12px;
}

.forgot-password {
  font-size: 14px;
  margin-top: 6px;
}

.input-element {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 12px;
}
